@page
@model EditModel
@{
    ViewData["Title"] = Model.CategoryViewModel != null ? Model.CategoryViewModel.Name : "Добавить";
}

<div class="container">
    <div class="d-flex align-items-start flex-column mb-3">
        @if (Model.CategoryViewModel != null) 
        {
            <h3>Изменть - @Model.CategoryViewModel.Name</h3>
        }
        else
        {
            <h3>Добавить</h3>
        }
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" name="CategoryName" id="name" placeholder="Название" value="@(Model.CategoryViewModel?.Name ?? "")" required>
        </div>
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                Бренды
                <div>
                    <button class="btn btn-outline-danger" id="removeField"><i class="bi bi-dash-square"></i></button>
                    <button class="btn btn-outline-success" id="addNewField"><i class="bi bi-plus-square"></i></button>
                </div>
            </div>
            @if (Model.CategoryViewModel == null)
            {
                <div class="mb-3 px-2">
                    <label for="brand" class="form-label">Бренд</label>
                    <input type="text" class="form-control" name="BrandName" id="brand" placeholder="Название" value="" required>
                    <label for="b-2">Фото</label>
                    <input type="file" class="form-control" name="BrandImage" id="b-2" onchange="showPhoto(this);" required>
                    <img src="#" id="test2" />
                </div>
            }
            else
            {
                for (int i = 0; i < Model.CategoryViewModel.Brands.Count; i++)
                {
                    <div class="mb-3 px-2">
                        <label for="@Model.CategoryViewModel.Brands[i].Name" class="form-label">Бренд</label>
                        <input type="text" class="form-control" name="BrandName" id="@Model.CategoryViewModel.Brands[i].Name" placeholder="Название" value="@Model.CategoryViewModel.Brands[i].Name">
                        <input type="hidden" name="BrandId" value="@Model.CategoryViewModel.Brands[i].Id" />
                        @if (Model.CategoryViewModel.Brands[i].Photos == null)
                        {
                            <label for="@Model.CategoryViewModel.Brands[i].Id">Фото для - @Model.CategoryViewModel.Brands[i].Name</label>
                            <input type="file" class="form-control" name="BrandImage" id="@(Model.CategoryViewModel.Brands[i].Id)" onchange="showPhoto(this);" required>
                            <img src="#" id="test2" />
                        }
                        else
                        {
                            @for (int j = 0; j < Model.CategoryViewModel.Brands[i].Photos?.Count; j++)
                            {
                                <label for="file@(j)">Фото для - @Model.CategoryViewModel.Brands[i].Name</label>
                                <input type="file" class="form-control" name="BrandImage" id="file@(j)" value="@Model.CategoryViewModel.Brands[i].Photos?[j].FileName" onchange="showPhoto(this);" required>
                                <img src="#" id="test2" />
                            }
                        }
                    </div>
                }
            }
        </div>
        <div class="mt-3 mb-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-success" style="width: 200px;">Сохранить</button>
        </div>
    </form>
</div>

<script>

    function showPhoto(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $("#test2")
                    .attr("src", e.target.result)
                    .width(200)
                    .height(200)
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    const plus = document.querySelector("#addNewField");
    const minus = document.querySelector("#removeField");
    const card = document.querySelector(".card");
    let i = 1;

    var divList = [];

    plus.addEventListener("click", (event) => {
        event.preventDefault();


        var div = document.createElement("div");
        div.className = "mb-3 px-2";

        var nameLabel = document.createElement("label");
        nameLabel.textContent = "Бренд";
        nameLabel.className = "form-label";
        nameLabel.htmlFor = "BrandName";

        var nameInput = document.createElement("input");
        nameInput.className = "form-control";
        nameInput.placeholder = "Название";
        nameInput.name = "BrandName";
        nameInput.id = "name" + i;

        var fileLabel = document.createElement("label");
        fileLabel.className = "form-label";
        fileLabel.textContent = "Фото для - ";
        fileLabel.htmlFor = "file" + i;

        var fileInput = document.createElement("input");
        fileInput.type = "file";
        fileInput.className = "form-control";
        fileInput.name = "BrandImage";
        fileInput.id = "file" + i;
        fileInput.addEventListener("change", showPhoto);

        var photo = document.createElement("img");
        photo.src = "#";
        photo.width = 200;
        photo.height = 200;

        div.appendChild(nameLabel);
        div.appendChild(nameInput);
        div.appendChild(fileLabel);
        div.appendChild(fileInput);
        div.appendChild(photo);

        card.appendChild(div);

        divList.push(div);

        i++;
    });

    minus.addEventListener("click", (event) => {
        event.preventDefault();

        for (let x = 0; x < divList.length; x++) {
            divList[x].remove();
        }

        i--;
    });
</script>