@page
@model EditModel
@{
    ViewData["Title"] = Model.CategoryViewModel != null ? Model.CategoryViewModel.Name : "Добавить";
}

<div class="container">
    <div class="d-flex align-items-start flex-column mb-3">
        @if (Model.CategoryViewModel != null) 
        {
            <h3>Изменть - @Model.CategoryViewModel.Name</h3>
        }
        else
        {
            <h3>Добавить</h3>
        }
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" name="CategoryName" id="name" placeholder="Название" value="@(Model.CategoryViewModel?.Name ?? "")" required>
        </div>
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                Бренды
                <button class="btn btn-success" id="addNewField"><i class="bi bi-plus-square"></i></button>
            </div>
            @if (Model.CategoryViewModel == null)
            {
                <div class="mb-3 px-2">
                    <label for="brand" class="form-label">Бренд</label>
                    <input type="text" class="form-control" name="BrandName" id="brand" placeholder="Название" value="" required>
                </div>
            }
            else
            {
                for (int i = 0; i < Model.CategoryViewModel.Brands.Count; i++)
                {
                    <div class="mb-3 px-2">
                        <label for="@Model.CategoryViewModel.Brands[i].Name" class="form-label">Бренд</label>
                        <input type="text" class="form-control" name="BrandName" id="@Model.CategoryViewModel.Brands[i].Name" placeholder="Название" value="@Model.CategoryViewModel.Brands[i].Name">
                        <input type="hidden" name="BrandId" value="@Model.CategoryViewModel.Brands[i].Id" />
                        @if (Model.CategoryViewModel.Brands[i].Photos == null)
                        {
                            <label for="@Model.CategoryViewModel.Brands[i].Id">Фото для - @Model.CategoryViewModel.Brands[i].Name</label>
                            <input type="file" class="form-control" name="BrandImage" id="@(Model.CategoryViewModel.Brands[i].Id)">
                        }
                        else
                        {
                            @for (int j = 0; j < Model.CategoryViewModel.Brands[i].Photos?.Count; j++)
                            {
                                <label for="file@(j)">Фото для - @Model.CategoryViewModel.Brands[i].Name</label>
                                <input type="file" class="form-control" name="BrandImage" id="file@(j)" value="@Model.CategoryViewModel.Brands[i].Photos?[j].FileName">
                            }
                        }
                    </div>
                }
            }
        </div>
        <div class="mt-3 mb-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-success" style="width: 200px;">Сохранить</button>
        </div>
    </form>
</div>
